<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1 style="text-align: center">Quem somos</h1>
		<p style="margin-top: 15px;">GUIGA - INSTITUTO CONHECER E TRANSFORMAR é uma associação sem fins lucrativos constituída no ano de 2010, que tem por missão
			ajudar pessoas a expandir seus conhecimentos profissionais e cidadãos, engendrando e estimulando meios de desenvolvimento
			humano, social e cultural.</p>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>