<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="wow fadeInDown">
			<h1 style="text-align: center">Quem somos</h1>
			<p style="margin-top: 15px;">GUIGA - INSTITUTO CONHECER E TRANSFORMAR é uma associação sem fins lucrativos constituída no ano de 2010, que tem por
				missão ajudar pessoas a expandir seus conhecimentos profissionais e cidadãos, engendrando e estimulando meios de desenvolvimento
				humano, social e cultural.</p>
		</div>
		<hr>
		<div class="wow fadeInUp">
			<h1 style="text-align: center">O que fazemos</h1>
			<p style="margin-top: 15px;">Produzimos e difundimos conhecimentos, visando a transformação de pessoas e da sociedade.</p>
			<p>Conheça nossos <a href="/course">cursos</a>, <a href="/content">produtos</a> e <a href="/services">serviços</a>.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="wow fadeInRight">
			<h1 style="text-align: center">Áreas de Atuação Prioritárias</h1>
			<ul>
				<li>
					<h3>EDUCAÇÃO</h3>
					<p>Registrada na Fundação de Amparo à Pesquisa do Estado de Minas Gerais – FAPEMIG como uma Instituição de Ciência e Tecnologia
						- ICT, nossa instituição está autorizada a realizar capacitações em várias áreas, dentre elas: cultural, social, ambiental,
						da saúde, educacional, desportiva, turística, científica, tecnológica e jurídica.</p>
				</li>
				<li>
					<h3>CULTURA</h3>
					<p>A Cultura foi o primeiro segmento a que a instituição dedicou suas atividades e é desenvolvido por meio da realização
						de ações, projetos e produtos artísticos, espetáculos, produção de conteúdo para mídias diversas, dentre outros.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="wow fadeInUp">
			<hr>
			<h1 style="text-align: center">Breve Histórico</h1>
			<p style="margin-top: 15px;">“GUIGA - Instituto Conhecer e Transformar” foi fundado na cidade mineira de Teixeiras, no ano de 2010, originalmente chamado
				de “Instituto de Conhecimentos Tradicionais Mestre Guiga”. A instituição foi fruto da reunião de pessoas envolvidas realização
				do projeto Memorial Família Guiga, pesquisa sobre o legado musical centenário de Antônio Gregório Pereira, sô Guiga (1886-1961):
				um artista, artesão, educador, mestre escola, que inaugurou uma tradição musical em sua família, que foi inventariada
				com o apoio do Instituto Estadual do Patrimônio Histórico e Artístico de Minas Gerais - IEPHA/MG, Universidade do Estado
				de Minas Gerais - UEMG, dentre outros. Transmitida oralmente, de geração em geração, a tradição hoje é centenária: um
				patrimônio cultural em Minas Gerais. No ano de 2015 a associação passou por uma reforma institucional, que alterou o
				nome para a denominação atual, efetivou a mudança de sede para a cidade de Matozinhos/MG e expandiu suas áreas de atuação,
				incluindo e enfatizando o setor da Educação.</p>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="wow fadeInUp">
			<hr>
			<h1 style="text-align: center">Apoio</h1>
			<p style="margin-top: 15px;">A instituição viabiliza suas atividades por meio de contribuições, doações, patrocínios, rendimentos produzidos pelo patrimônio,
				recursos do Estado e apoios diversos. Apresentamos, orgulhosamente, alguns apoiadores das ações que viemos realizando
				desde a fundação:</p>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<div class="wow fadeInLeft">
			<h3>INSTITUIÇÕES ESTATAIS:</h3>
			<ul>
				<li>Prefeitura Municipal de Teixeiras de Minas Gerais</li>
				<li>Secretaria de Estado de Cultura de Minas Gerais</li>
				<li>Fundo Estadual de Cultura do Estado de Minas Gerais</li>
				<li>Escola de Ciências da Informação - Universidade Federal de Minas Gerais</li>
				<li>Rádio Itinerante - Departamento de Comunicação Social da Universidade Federal de Viçosa</li>
				<li>Programa Cultura Viva - Ministério da Cultura do Brasil</li>
				<li>Conservatório Estadual de Música Raul Belém - Araguari</li>
				<li>Conservatório Estadual de Música Dr José Zoccoli Andrade - Ituiutaba</li>
				<li>Conservatório Estadual de Música Haidée França Americano - Juiz de Fora</li>
				<li>Conservatório Estadual de Música Lia Salgado - Leopoldina</li>
				<li>Conservatório Estadual de Música Lorenzo Fernandez - Montes Claros</li>
				<li>Conservatório Estadual de Música Padre José Maria Xavier - São João Del Rey</li>
				<li>Conservatório Estadual de Música Cora Pavan Capareli - Uberlândia</li>
				<li>Conservatório Estadual de Música Professor Theodolindo José Soares</li>
			</ul>
		</div>
	</div>
	<div class="col-md-5">
		<div class="wow fadeInRight">
			<h3>INSTITUIÇÕES PRIVADAS:</h3>
			<ul>
				<li>Centro de Tecnologias Alternativas - Viçosa/MG</li>
				<li>Associação de Ideias Ambientais e Ações Sócio Culturais - Ponto de Cultura Art 22 - Santa Luzia/MG</li>
				<li>Ponto de Cultura Teatro Negro e Atitude - Santa Luzia/ MG</li>
				<li>Borrachalioteca Sabará/MG</li>
			</ul>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="./"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>