<div class="row about-section" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>Quem somos</h1>
		<p style="margin-top: 15px;">GUIGA - INSTITUTO CONHECER E TRANSFORMAR é uma associação sem fins lucrativos constituída no ano de 2010, que tem por missão ajudar pessoas a expandir seus conhecimentos profissionais e cidadãos, engendrando e estimulando meios de desenvolvimento humano, social e cultural.</p>
		<br>
		<img class="img img-responsive" src="./../img/about1.jpg" alt="Quem Somos">
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>