<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1 style="text-align: center">Áreas de Atuação Prioritárias</h1>
		<ul>
			<li>
				<h3>EDUCAÇÃO</h3>
				<p>Registrada na Fundação de Amparo à Pesquisa do Estado de Minas Gerais – FAPEMIG como uma Instituição de Ciência e Tecnologia
					- ICT, nossa instituição está autorizada a realizar capacitações em várias áreas, dentre elas: cultural, social, ambiental,
					da saúde, educacional, desportiva, turística, científica, tecnológica e jurídica.</p>
			</li>
			<li>
				<h3>CULTURA</h3>
				<p>A Cultura foi o primeiro segmento a que a instituição dedicou suas atividades e é desenvolvido por meio da realização
					de ações, projetos e produtos artísticos, espetáculos, produção de conteúdo para mídias diversas, dentre outros.</p>
			</li>
		</ul>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>