<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1 style="text-align: center">Apoio</h1>
		<p style="margin-top: 15px;">A instituição viabiliza suas atividades por meio de contribuições, doações, patrocínios, rendimentos produzidos pelo patrimônio,
			recursos do Estado e apoios diversos. Apresentamos, orgulhosamente, alguns apoiadores das ações que viemos realizando
			desde a fundação:</p>
		<h3>INSTITUIÇÕES ESTATAIS:</h3>
		<ul>
			<li>Prefeitura Municipal de Teixeiras de Minas Gerais</li>
			<li>Secretaria de Estado de Cultura de Minas Gerais</li>
			<li>Fundo Estadual de Cultura do Estado de Minas Gerais</li>
			<li>Escola de Ciências da Informação - Universidade Federal de Minas Gerais</li>
			<li>Rádio Itinerante - Departamento de Comunicação Social da Universidade Federal de Viçosa</li>
			<li>Programa Cultura Viva - Ministério da Cultura do Brasil</li>
			<li>Conservatório Estadual de Música Raul Belém - Araguari</li>
			<li>Conservatório Estadual de Música Dr José Zoccoli Andrade - Ituiutaba</li>
			<li>Conservatório Estadual de Música Haidée França Americano - Juiz de Fora</li>
			<li>Conservatório Estadual de Música Lia Salgado - Leopoldina</li>
			<li>Conservatório Estadual de Música Lorenzo Fernandez - Montes Claros</li>
			<li>Conservatório Estadual de Música Padre José Maria Xavier - São João Del Rey</li>
			<li>Conservatório Estadual de Música Cora Pavan Capareli - Uberlândia</li>
			<li>Conservatório Estadual de Música Professor Theodolindo José Soares</li>
		</ul>
		<h3>INSTITUIÇÕES PRIVADAS:</h3>
		<ul>
			<li>Centro de Tecnologias Alternativas - Viçosa/MG</li>
			<li>Associação de Ideias Ambientais e Ações Sócio Culturais - Ponto de Cultura Art 22 - Santa Luzia/MG</li>
			<li>Ponto de Cultura Teatro Negro e Atitude - Santa Luzia/ MG</li>
			<li>Borrachalioteca Sabará/MG</li>
		</ul>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>