<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1 style="text-align: center">Breve Histórico</h1>
		<p style="margin-top: 15px;">“GUIGA - Instituto Conhecer e Transformar” foi fundado na cidade mineira de Teixeiras, no ano de 2010, originalmente chamado
			de “Instituto de Conhecimentos Tradicionais Mestre Guiga”. A instituição foi fruto da reunião de pessoas envolvidas realização
			do projeto Memorial Família Guiga, pesquisa sobre o legado musical centenário de Antônio Gregório Pereira, sô Guiga (1886-1961):
			um artista, artesão, educador, mestre escola, que inaugurou uma tradição musical em sua família, que foi inventariada
			com o apoio do Instituto Estadual do Patrimônio Histórico e Artístico de Minas Gerais - IEPHA/MG, Universidade do Estado
			de Minas Gerais - UEMG, dentre outros. Transmitida oralmente, de geração em geração, a tradição hoje é centenária: um
			patrimônio cultural em Minas Gerais. No ano de 2015 a associação passou por uma reforma institucional, que alterou o nome
			para a denominação atual, efetivou a mudança de sede para a cidade de Matozinhos/MG e expandiu suas áreas de atuação,
			incluindo e enfatizando o setor da Educação.</p>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>