<div class="container admin-section">
    <div>
        <h3>Bem Vindo {{adminController.userSession.fullname}}</h3>
    </div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Slide">
            <h1>Slide</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setSlide(slide)" ng-repeat="slide in adminController.slides">{{slide.id}}</li>
                    </ul>
                </div>
                <div class="col-md-6" ng-if="adminController.slides.length < 3 || adminController.slideIsSetted">
                    <form class="form-horizontal" ng-submit="adminController.saveSlide()">
                        <div class="form-group">
                            <label for="text" class="col-sm-2 control-label">Texto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.slide.text" placeholder="Texto">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-sm-2 control-label">Imagem</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" fileread="adminController.slide.image">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Calendario">
            <h1>Calendario</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setCalendar(calendar)" ng-repeat="calendar in adminController.calendars">{{calendar.name}}</li>
                    </ul>
                </div>
                <div class="col-md-6" ng-if="adminController.calendars.length < 3 || adminController.calendarIsSetted">
                    <form class="form-horizontal" ng-submit="adminController.saveCalendar()">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.calendar.name" id="name" placeholder="Nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Descrição</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.calendar.description" id="description" placeholder="Descrição">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="startdate" class="col-sm-2 control-label">Data de Inicio</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" ng-model="adminController.calendar.startdate" id="startdate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enddate" class="col-sm-2 control-label">Data de Fim</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" ng-model="adminController.calendar.enddate" id="enddate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">Local</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.calendar.location" id="location" placeholder="Local">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Noticias">
            <h1>Noticias</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setNews(news)" ng-repeat="news in adminController.newss">{{news.id}}</li>
                    </ul>
                </div>
                <div class="col-md-6" ng-if="adminController.newss.length < 4 || adminController.newsIsSetted">
                    <form class="form-horizontal" ng-submit="adminController.saveNews()">
                        <div class="form-group">
                            <label for="header" class="col-sm-2 control-label">Titulo</label>
                            <div class="col-sm-10">
                                <input type="header" class="form-control" ng-model="adminController.news.header" placeholder="Titulo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-sm-2 control-label">Texto</label>
                            <div class="col-sm-10">
                                <input type="body" class="form-control" ng-model="adminController.news.body" placeholder="Texto">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-sm-2 control-label">Imagem</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" fileread="adminController.news.image">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Notas">
            <h1>Notas Importantes</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setNote(note)" ng-repeat="note in adminController.notes">{{note.id}}</li>
                    </ul>
                </div>
                <div class="col-md-6" ng-if="adminController.notes.length < 5 || adminController.noteIsSetted">
                    <form class="form-horizontal" ng-submit="adminController.saveNote()">
                        <div class="form-group">
                            <label for="text" class="col-sm-2 control-label">Texto</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="adminController.note.text" maxlength="50" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="4" heading="Usuários">
            <h1>Usuários</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setUser(user)" ng-repeat="user in adminController.users">{{user.username}}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal" ng-submit="adminController.saveUser()">
                        <div class="form-group">
                            <label for="user" class="col-sm-2 control-label">Usuário</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.user.username" id="user" placeholder="Usuário">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Senha</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" ng-model="adminController.user.password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.user.fullname" id="userName" placeholder="Nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="adminController.user.email" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="5" heading="Candidatos">
            <h1>Candidatos</h1>
            <div class="row">
				<div class="col-md-4 form-horizontal">
					<div class="form-group">
						<label for="status" class="col-md-2 control-label">Status:</label>
                        <div class="col-md-10">
                            <select ng-model="adminController.filterStatus" ng-change="adminController.updateUsers()" name="status" class="form-control">
                                <option value="Aguardando aprovação">Aguardando aprovação</option>
                                <option value="Aprovado">Aprovado</option>
                                <option value="Rejeitado">Rejeitado</option>
                            </select>
                        </div>
					</div>
                    <div class="form-group">
						<label for="fullname" class="col-md-2 control-label">Nome:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="adminController.filterFullname" id="fullname" placeholder="Nome">
                        </div>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="adminController.setCandidate(candidate)" ng-repeat="candidate in adminController.candidates | filter:adminController.filterFullname">{{candidate.fullname}}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="fullname">Nome Completo:</label>
                                <input type="text" ng-model="adminController.candidate.fullname" required readonly class="form-control" name="fullname" placeholder="Nome Completo">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" ng-model="adminController.candidate.email" required readonly class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birthDate">Data de Nascimento:</label>
                                <input type="text" required readonly placeholder="Data de nascimento" ng-model="adminController.candidate.birthDate" class="form-control" name="birthDate">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefone:</label>
                                <input type="text" required readonly ng-model="adminController.candidate.phone" class="form-control" name="phone" placeholder="Telefone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="registerId">Carteira de Identidade:</label>
                                <input type="text" ng-model="adminController.candidate.registerId" required readonly class="form-control" name="registerId" placeholder="Carteira de Identidade">
                            </div>
                            <div class="form-group">
                                <label for="registerIdImg">Imagem da identidade:</label>
                                <button type="button" name="registerIdImgDownload" class="btn btn-info form-control" ng-click="adminController.openImage(adminController.candidate.registerIdPath)">Abrir</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input type="text" required readonly ng-model="adminController.candidate.registerCpf" class="form-control" name="cpf" placeholder="CPF">
                            </div>
                            <div class="form-group">
                                <label for="registerCpfImg">Imagem do CPF:</label>
                                <button type="button" name="registerCpfImgDownload" ng-click="adminController.openImage(adminController.candidate.registerCpfPath)" class="btn btn-info form-control">Abrir</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="adressType">Tipo de endereço:</label>
                                <input type="text" placeholder="Tipo" required readonly ng-model="adminController.candidate.adressType" name="adressType" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="adress">Endereço:</label>
                                <input type="text" required readonly ng-model="adminController.candidate.adress" class="form-control" name="adress"
                                placeholder="Endereço">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complement">Complemento:</label>
                                <input type="text" required readonly ng-model="adminController.candidate.complement" class="form-control" name="complement"
                                placeholder="Complemento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city">Cidade:</label>
                                <input type="text" required readonly ng-model="adminController.candidate.city" class="form-control" name="city"
                                placeholder="Cidade">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="state">Estado:</label>
                                <input type="text" placeholder="Estado" required readonly ng-model="adminController.candidate.state" name="state" class="form-control">
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="adminController.candidate.civilServant" disabled value="">Declaro exercer cargo ou função pública.</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="adminController.candidate.wantScholarship" disabled value="">Solicito bolsa de estudos integral e declaro a intenção de empregar zelo e responsabilidade no acesso às aulas e atividades disponíveis na Plataforma on line, para fins de obtenção de certificado ao fim.</label>
                    </div>

                    <div class="form-group">
                        <label for="recommendationLetter">Imagem do documento que comprova função ou cargo público:</label>
                        <button type="button" ng-click="adminController.openImage(adminController.candidate.recommendationLetterPath)" name="recommendationImgDownload" class="btn btn-info form-control">Abrir</button>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Escolaridade:</label>
                            <input type="text" required readonly ng-model="adminController.candidate.schoolEducation" class="form-control" placeholder="Escolaridade">
                        </div>
                        <div class="col-md-6">
                            <label for="">Quantidade de cursos já realizados:</label>
                            <input type="text" required readonly ng-model="adminController.candidate.numberOfCourses" class="form-control" placeholder="Quantidade de cursos">
                        </div>
                    </div>

                    <label for="">Por que possui interesse em participar do curso?</label>
                    <input type="text" required readonly ng-model="adminController.candidate.reasonForEntry" class="form-control" placeholder="Motivo de interesse">

                    <label for="">Curso escolhido:</label>
                    <input type="text" required readonly ng-model="adminController.candidate.selectedCourse" class="form-control" placeholder="Curso">

                    <hr>
                    <div class="col-md-6">
                        <select ng-model="adminController.candidate.status" name="status" class="form-control">
                            <option value="Aguardando aprovação">Aguardando aprovação</option>
                            <option value="Aprovado">Aprovado</option>
                            <option value="Rejeitado">Rejeitado</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button type="button" name="send" class="btn btn-success form-control" ng-click="adminController.saveCandidateStatus()">Salvar</button>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="container" style="margin-top: 20px;">
    <a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>