<div class="row" style="margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h3 class="">{{selectedCourse.category}}</h3>
		<h1 class="">{{selectedCourse.fullname}}
			<span style="font-size: 15pt;">| {{selectedCourse.shortname}}</span>
		</h1>
		<hr>
		<p class="">{{selectedCourse.summary}}</p>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<p style="font-family: 'Taz-semibold'">Inicio: {{ mainController.getDate(selectedCourse.startdate) | date:'dd/MM/yy'}}</p>
				<p style="font-family: 'Taz-semibold'">Fim: {{mainController.getDate(selectedCourse.enddate) | date:'dd/MM/yy'}}</p>	
			</div>
			<div class="col-md-9">
				<a href="#/registration" style="border-radius: 4px;font-size: 14px;padding: 6px 12px;" class="btn btn-primary" role="button">Inscrições Abertas</a>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"> Voltar</i></a>
</div>