<div class="row course-section" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="">{{selectedCourse.category}}</h3>
		<h1 class="">{{selectedCourse.fullname}}</h1>
		<hr>
		<p class="">{{selectedCourse.summary}}</p>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<p style="font-family: 'Taz-semibold'">Inicio: {{selectedCourse.startdate}}</p>
				<p style="font-family: 'Taz-semibold'">Fim: {{selectedCourse.enddate}}</p>
				<p style="font-family: 'Taz-semibold'">Modalidade: Á distância</p>
				<p style="font-family: 'Taz-semibold'">Investimento: Gratuito*</p>
				<p style="font-family: 'Taz-semibold'; font-size: 12pt">*Para edições no ano 2017, realizadas com apoio do Fundo Estadual de Cultura/ Secretaria de Estado de Cultura de Minas Gerais.</p>
			</div>
			<div class="col-md-7">
				<a href="#/terms" style="border-radius: 4px;font-size: 14px;padding: 6px 12px;" class="btn" role="button">Inscrições Abertas</a>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>