<div class="row donation-section">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>COLABORE</h1>
		<div class="row">
			<div class="col-md-8">
				<h3>Apoie você também!</h3>
				<p>Nossa instituíção não tem fins lucrativos e depende de trabalhos voluntários, de apoio do Estado, de empresas, de grupos
					e de pessoas.</p>
				<p>Você também pode ajudar na manutenção de nossas atividades.</p>
			</div>
			<div class="col-md-4">
				<h3 style="text-align:center;">FAÇA SUA CONTRIBUÍÇÃO</h3>
				<a href="" class="btn btn5 form-control" role="button">R$ 5,00</a>
				<a href="" class="btn btn10 form-control" role="button">R$ 10,00</a>
				<a href="" class="btn btn20 form-control" role="button">R$ 20,00</a>
				<a href="" class="btn btn50 form-control" role="button">R$ 50,00</a>
				<a href="" class="btn btn100 form-control" role="button">R$ 100,00</a>
			</div>
		</div>
		<div style="text-align:center;">
			<h3>Compartilhe e curta nossas páginas nas redes sociais.</h3>
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/GUIGAICT/" target="_blank" title="Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/guigaict" target="_blank" title="Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="" title="Instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCmRX5I42x63hKuxzfiVZv8Q" target="_blank" title="YouTube"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>