<div class="">
	<div uib-carousel active="mainController.active" interval="mainController.myInterval" no-wrap="mainController.noWrapSlides">
		<div uib-slide ng-repeat="slide in mainController.slides track by slide.id" index="$index">
			<img class="img img-responsive" ng-src="{{slide.imagePath}}" style="margin:auto;">
			<div class="carousel-caption">
				<p>{{slide.text}}</p>
			</div>
		</div>
	</div>
</div>
<div class="">
	<div id="footer-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<ul class="list-inline">
						<li><a href="https://www.facebook.com/GUIGAICT/" target="_blank" title="Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/guigaict" target="_blank" title="Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/guigaict/" target="_blank" title="Instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCmRX5I42x63hKuxzfiVZv8Q" target="_blank" title="YouTube"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="https://www.linkedin.com/in/guiga-instituto-conhecer-e-transformar-88b52a142/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<div class="">
	<div class="container panel panel-default">
		<div class="panel-body">
			<img src="./../img/news_header.png" alt="Noticias" class="img-responsive" style="float: left;">
		</div>
		<div class="panel-body" style="float: left;">
			<div class="row">
				<div class="col-md-3" ng-repeat="item in mainController.news">
					<div class="thumbnail">
						<img ng-src="{{item.imagePath}}" class="img img-responsive">
						<!--320x125-->
						<div class="caption">
							<h4 class="">{{item.header}}</h4>
							<p class="">{{item.body}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="">
		<div class="col-md-6 panel-aside" style="background-color: #d1def1;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<h3>IMPORTANTE</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="row" ng-repeat="note in mainController.notes">
							<p>{{ note.text }}</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="col-md-6 panel-aside" style="background-color: #ffc20f;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<h3>CALENDÁRIO</h3>
					</div>
				</div>
				<div class="row" ng-repeat="event in mainController.calendar">
					<div class="col-md-2">
						<h3>{{event.startdate | date:'dd/MM'}}</h3>
						<h4>{{event.enddate | date:'dd/MM'}}</h4>
					</div>
					<div class="col-md-10">
						<h4>{{ event.name }}</h4>
						<p>{{ event.description }}</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
