<div class="row products-section">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="text-align:center; margin-top:40px;">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive thumbnail-img" src="./../img/paid_product1.png" alt="Produto pago 1">
					<div class="caption">
						<h4>Song Book Família Guiga<br>Edição Trilingue - Português/Espanhol/Inglês</h4>
						<br>
						<button type="button" class="btn form-control" ng-click="paidProductsController.setProduct(0);">Mais Informações</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive thumbnail-img" src="./../img/paid_product2.png" alt="Produto pago 2">
					<div class="caption">
						<h4>Direitos Autorais, Culturas Populares e Conhecimentos Tradicionais</h4>
						<br>
						<button type="button" class="btn form-control" ng-click="paidProductsController.setProduct(1);">Mais Informações</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive thumbnail-img" src="./../img/paid_product3.png" alt="Produto pago 3">
					<div class="caption">
						<h4>CD Vae Volta - Músicas Populares de Tradição Centenária da Família Guiga</h4>
						<br>
						<button type="button" class="btn form-control" ng-click="paidProductsController.setProduct(2);">Mais Informações</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>

<script type="text/ng-template" id="paidModal.html">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">{{paidModalController.tittle}}</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="row">
			<div class="col-md-8">
				<p>{{paidModalController.text}}</p>
				<p>Preço: {{paidModalController.value}}</p>
				<button class="btn btn-primary form-control" type="button" ng-click="">Comprar</button>
			</div>
			<div class="col-md-4">
				<img class="img img-responsive thumbnail-img" ng-src="{{paidModalController.image}}" alt="Produto pago">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="paidModalController.close()">Fechar</button>
	</div>
</script>