<div class="row" style="margin-top:30px;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form name="registrationForm" ng-submit="registrationController.submit()">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="fullname">Nome Completo:</label>
						<input type="text" ng-model="registrationController.user.fullname" required class="form-control" name="fullname" placeholder="Nome Completo">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" ng-model="registrationController.user.email" required class="form-control" name="email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="email2">Confirme seu email:</label>
						<input type="email" ng-model="registrationController.user.email2" required class="form-control" name="email2" placeholder="Confirme seu email">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="birthDate">Data de Nascimento:</label>
						<input type="date" required ng-model="registrationController.user.birthDate" class="form-control" name="birthDate">
					</div>
					<div class="form-group">
						<label for="phone">Telefone:</label>
						<input type="number" required ng-model="registrationController.user.phone" class="form-control" name="phone" placeholder="Telefone">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="registerId">Carteira de Identidade:</label>
						<input type="number" ng-model="registrationController.user.registerId" required class="form-control" name="registerId" placeholder="Carteira de Identidade">
					</div>
					<div class="form-group">
						<label for="registerIdImg">Anexe uma imagem da sua Carteira de Identidade aqui:</label>
						<input type="file" accept="image/*" required fileread="registrationController.user.registerIdImg" name="registerIdImg">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="cpf">CPF:</label>
						<input type="number" required ng-model="registrationController.user.registerCPF" class="form-control" name="cpf" placeholder="CPF">
					</div>
					<div class="form-group">
						<label for="registerCpfImg">Anexe uma imagem do seu CPF aqui:</label>
						<input type="file" accept="image/*" required fileread="registrationController.user.registerCpfImg" name="registerCpfImg">
					</div>
				</div>
			</div>

			<hr>

			<label for="">Endereço Residencial</label>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="residentialAdress">Endereço:</label>
						<input type="text" required ng-model="registrationController.user.residentialAdress" class="form-control" name="residentialAdress"
						 placeholder="Endereço">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="residentialComplement">Complemento:</label>
						<input type="text" required ng-model="registrationController.user.residentialComplement" class="form-control" name="residentialComplement"
						 placeholder="Complemento">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="residentialCity">Cidade:</label>
						<input type="text" required ng-model="registrationController.user.residentialCity" class="form-control" name="residentialCity"
						 placeholder="Cidade que você reside">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="residentialState">Estado:</label>
						<select required ng-model="registrationController.user.residentialState" name="residentialState" class="form-control">
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>
			</div>

			<hr>

			<label for="">Endereço Comercial</label>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="commercialAdress">Endereço:</label>
						<input type="text" ng-model="registrationController.user.commercialAdress" class="form-control" name="commercialAdress" placeholder="Endereço">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="commercialComplement">Complemento:</label>
						<input type="text" ng-model="registrationController.user.commercialComplement" class="form-control" name="commercialComplement"
						 placeholder="Complemento">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="commercialCity">Cidade:</label>
						<input type="text" ng-model="registrationController.user.commercialCity" class="form-control" name="commercialCity" placeholder="Cidade que você trabalha">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="commercialState">Estado:</label>
						<select ng-model="registrationController.user.commercialState" name="commercialState" class="form-control">
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>
			</div>

			<hr>

			<div class="checkbox">
				<label><input type="checkbox" ng-model="registrationController.user.civilServant" value="">Declaro exercer cargo ou função pública.</label>
			</div>

			<div class="checkbox">
				<label><input type="checkbox" ng-model="registrationController.user.wantScholarship" value="">Solicito bolsa de estudos integral e declaro a intenção de empregar zelo e responsabilidade no acesso às aulas e atividades disponíveis na Plataforma on line, para fins de obtenção de certificado ao fim.</label>
			</div>

			<div class="form-group">
				<label for="recommendationLetter">Anexe uma imagem do documento que comprova sua função ou cargo público aqui:</label>
				<input type="file" accept="application/pdf, image/*" fileread="registrationController.user.recommendationLetter" name="recommendationLetter">
				<p class="help-block">Exemplos: declaração fornecida por órgão ou conselho público, publicação da nomeação, contrato de trabalho, contrato
					de serviço ou outro documento oficial.</p>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<label for="">Escolaridade:</label>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation1" value="Ensino Fundamental" checked>
				Ensino Fundamental</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation2" value="Ensino Médio">
				Ensino Médio
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation3" value="Ensino Superior">
				Ensino Superior
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation4" value="Especialização">
				Especialização
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation5" value="Mestrado">
				Mestrado
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation6" value="Doutorado">
				Doutorado
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="schoolEducation" id="schoolEducation7" value="Pós-Doutorado">
				Pós-Doutorado
			</label>
					</div>
				</div>
				<div class="col-md-6">
					<label for="">Quantos cursos já fez na área da Política Cultural?</label>
					<div class="radio">
						<label>
				<input type="radio" name="numberOfCourses" id="numberOfCourses1" value="Nenhum" checked>
				Nenhum</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="numberOfCourses" id="numberOfCourses2" value="Um a dois">
				Um a dois
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="numberOfCourses" id="numberOfCourses3" value="Acima de dois">
				Acima de dois
			</label>
					</div>
				</div>
			</div>


			<label for="">Por que possui interesse em participar do curso?</label>
			<div class="radio">
				<label>
				<input type="radio" name="reasonForEntry" id="reasonForEntry1" value="Deseja que o município faça a adesão ao Sistema Nacional de Cultura." checked>
				Deseja que o município faça a adesão ao Sistema Nacional de Cultura.</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" name="reasonForEntry" id="reasonForEntry2" value="Deseja que o município aprimore a participação ao Sistema Nacional de Cultura, uma vez que já fez a adesão.">
				Deseja que o município aprimore a participação ao Sistema Nacional de Cultura, uma vez que já fez a adesão.
			</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" name="reasonForEntry" id="reasonForEntry3" value="Quer conhecer melhor ou aprofundar estudos no setor cultural.">
				Quer conhecer melhor ou aprofundar estudos no setor cultural.
			</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" ng-model="registrationController.user.otherReason" name="reasonForEntry" id="reasonForEntry4" value="Outro:">
				Outro:
			</label>
			</div>
			<textarea maxlength="100" ng-if="registrationController.user.otherReason" ng-model="registrationController.user.otherReasonForEntry" required class="form-control" rows="2"></textarea>

			<hr>

			<button type="submit" name="send" class="btn btn-success">Enviar</button>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>