<div class="row" style="margin-top:30px;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="fullname">Nome Completo:</label>
						<input type="text" class="form-control" id="fullname" placeholder="Nome Completo">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" placeholder="Email">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="birthDate">Data de Nascimento:</label>
						<input type="text" class="form-control" id="birthDate" placeholder="Data de Nascimento">
					</div>
					<div class="form-group">
						<label for="phone">Telefone:</label>
						<input type="text" class="form-control" id="phone" placeholder="Telefone">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="identidade">Carteira de Identidade:</label>
						<input type="text" class="form-control" id="identidade" placeholder="Carteira de Identidade">
					</div>
					<div class="form-group">
						<label for="identidadeImg">Anexo da Carteira de Identidade:</label>
						<input type="file" id="identidadeImg">
						<p class="help-block">Tire uma foto da sua carteira de identidade e anexe aqui.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="cpf">CPF:</label>
						<input type="text" class="form-control" id="cpf" placeholder="CPF">
					</div>
					<div class="form-group">
						<label for="cpfImg">Anexo do CPF:</label>
						<input type="file" id="cpfImg">
						<p class="help-block">Tire uma foto do seu CPF e anexe aqui.</p>
					</div>
				</div>
			</div>

			<hr>

			<label for="">Endereço Residencial</label>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="residentialAdress">Endereço:</label>
						<input type="text" class="form-control" id="residentialAdress" placeholder="Endereço">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="residentialComplement">Complemento:</label>
						<input type="text" class="form-control" id="residentialComplement" placeholder="Complemento">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="residentialCity">Cidade:</label>
						<input type="text" class="form-control" id="residentialCity" placeholder="Cidade que você reside">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="residentialState">Estado:</label>
						<select name="residentialState" class="form-control">
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>
			</div>

			<hr>

			<label for="">Endereço Comercial</label>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="commercialAdress">Endereço:</label>
						<input type="text" class="form-control" id="commercialAdress" placeholder="Endereço">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="commercialComplement">Complemento:</label>
						<input type="text" class="form-control" id="commercialComplement" placeholder="Complemento">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="commercialCity">Cidade:</label>
						<input type="text" class="form-control" id="commercialCity" placeholder="Cidade que você reside">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="commercialState">Estado:</label>
						<select name="commercialState" class="form-control">
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>
			</div>

			<hr>

			<div class="checkbox">
				<label><input type="checkbox" ng-model="registrationController.civilServant" value="">Selecione esta caixa caso você participa/trabalha em Instituição Pública.</label>
			</div>

			<div ng-if="registrationController.civilServant" class="checkbox">
				<label><input type="checkbox" ng-model="registrationController.wantScholarship" value="">Se participa/trabalha em Instituição Pública do Poder Executivo, você pode solicitar bolsa de estudos. Caso receba a bolsa de estudos integral, deverá cumprir todas as atividades do curso, finalizando-o no tempo previsto. Selecione esta caixa caso deseja fazer essa solicitação.</label>
			</div>

			<div ng-if="registrationController.wantScholarship" class="form-group">
				<label for="recommendationLetter">Carta de Recomendação:</label>
				<input type="file" id="recommendationLetter">
				<p class="help-block">Anexe aqui a Carta de Recomendação da chefia imediata, para fins de solicitação de bolsa de estudos. Se você exerce cargos
					de Diretor, Chefe, Coordenador, Secretário ou Prefeito, para solicitar a bolsa, você deverá anexar o ato de nomeação
					do cargo.</p>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<label for="">Escolaridade:</label>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked>
				Ensino Fundamental</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Ensino Médio
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Ensino Superior
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Especialização
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Mestrado
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Doutorado
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
				Pós-Doutorado
			</label>
					</div>
				</div>
				<div class="col-md-6">
					<label for="">Quantos cursos já fez na área da Política Cultural?</label>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked>
				Nenhum</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">
				Um a dois
			</label>
					</div>
					<div class="radio">
						<label>
				<input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">
				Acima de dois
			</label>
					</div>
				</div>
			</div>


			<label for="">Por que possui interesse em participar do curso?</label>
			<div class="radio">
				<label>
				<input type="radio" name="optionsRadios3" id="optionsRadios1" value="option1" checked>
				Deseja que o município faça a adesão ao Sistema Nacional de Cultura.</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" name="optionsRadios3" id="optionsRadios2" value="option2">
				Deseja que o município aprimore a participação ao Sistema Nacional de Cultura, uma vez que já fez a adesão.
			</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" name="optionsRadios3" id="optionsRadios2" value="option2">
				Quer conhecer melhor ou aprofundar estudos no setor cultural.
			</label>
			</div>
			<div class="radio">
				<label>
				<input type="radio" ng-model="registrationController.otherReason" name="optionsRadios3" id="optionsRadios2" value="option2">
				Outro:
			</label>
			</div>
			<textarea ng-if="registrationController.otherReason" class="form-control" rows="4"></textarea>

			<hr>

			<button type="submit" class="btn btn-success">Salvar</button>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href="/"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>