<div class="row services-section" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div id="services" class="col-md-8">
		<h1>Serviços</h1>
		<p>Os serviços prestados pela instituição potencializam os objetivos de sua existência e colaboram para a manutenção das demais atividades. Prestamos capacitações diversas - cursos, workshops, palestras e outros - nas <a href="/#about3">áreas de atuação da organização</a>.</p>
		<br>
		<p>Para informações e orçamentos de capacitações sob medida para suas necessidades, envie sua mensagem para <a href="mailto:contato@guiga.com.br">contato@guiga.com.br</a></p>
		<br>
		<img style="width:70%; margin-left:auto; margin-right:auto;" src="./../img/services.jpg" class="img img-responsive" alt="Serviços">
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>