<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>Atenção</h1>
		<h4>Para iniciar a inscrição neste curso, você deve ler atentamente as informações a seguir e concordar com os seguintes termos:</h4>
		<ol>
			<li><p>O Curso é voltado especificamente para pessoas que possuam cargos ou exerçam funções públicas em Minas Gerais;</p></li>
			<li><p>O aluno deve ter cursado, no mínimo, o Ensino Médio;</p></li>
			<li><p>As edições do curso no ano de 2017 estão ISENTAS do investimento de R$ 268,00, devido ao apoio fornecido pelo Fundo Estadual de Cultura/ Secretaria de Estado de Cultura de Minas Gerais;</p></li>
			<li><p>A distribuição das bolsas de estudo 100% gratuitas para gestores/agentes públicos depende da comprovação de vínculo com o poder público. Exemplos: declaração fornecida por orgão ou conselho público, publicação da nomeação, contrato de trabalho, contrato de serviço ou outro documento oficial. O documento deve ser anexado quando o candidato preencher o formulário de inscrição, que será disponibilizado após aceitar os termos abaixo e clicar em CONTINUAR;</p></li>
			<li><p>As vagas são limitadas e serão distribuídas de forma a contemplar todas as microrregiões do estado de Minas Gerais;</p></li>
			<li><p>Haverá duas edições do curso no ano de 2017, sendo uma de 01/07/2017 a 31/08/2017 e outra de 01/09/2017 a 31/10/2017. Os candidatos poderão ser selecionados para participação da primeira ou da segunda edição</p></li>
		</ol>
		<p>Selecione a caixa abaixo para confirmar que você aceita com todos os requisitos citados acima:</p>
		<div class="checkbox">
			<label><input type="checkbox" ng-model="termsController.agreed" value="">Eu concordo com todos os requisitos citados acima.</label>
		</div>
		<a ng-disabled="!termsController.agreed" ng-click="termsController.goToRegistration()" class="btn btn-success" role="button">Continuar</a>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="container" style="margin-top: 20px;">
	<a href ng-click="back()"><i class="fa fa-arrow-left fa-2x back-button" aria-hidden="true"> Voltar</i></a>
</div>