extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="container")
      div(class="navbar-header page-scroll")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand page-scroll" href="#page-top")
          img(src="images/banner_ictmg.png" alt="GUIGA" style="margin-top: -15px; margin-left: -50px; width: 150px;")
      
      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav")
          //- Hidden li included to remove active class from about link when scrolled up past about section
          li(class="hidden")
            a(class="page-scroll" href="#page-top")
          li
            a(class="page-scroll" href="#about") Quem Somos
          li
            a(class="page-scroll" href="#values") Princípios e Valores
          li
            a(class="page-scroll" href="#services") Serviços
          li
            a(class="page-scroll" href="#contact") Contato
      //- /.navbar-collapse
    //- /.container
  
  //- Intro Section
  section(id="intro", class="intro-section")
    div(class="container")
      div(class="row margin-fix")
        div(class="col-md-8")
          //- Carousel
          div(id="myCarousel", class="carousel slide", data-ride="carousel")
              //- Indicators
              ol(class="carousel-indicators")
                  li(data-target="#myCarousel", data-slide-to="0", class="active")
                  li(data-target="#myCarousel", data-slide-to="1")
                  li(data-target="#myCarousel", data-slide-to="2")
                  li(data-target="#myCarousel", data-slide-to="3")

              //- Wrapper for slides
              div(class="carousel-inner", role="listbox")
                  div(class="item active")
                      img(src="/images/slide1.png", alt ="image 1")
                      div(class="carousel-caption")
                          h3 Lorem Ipsum
                          p Torem ipsum dolor sit amet, consectetur adipiscing elit.

                  div(class="item")
                      img(src="/images/slide2.png", alt="image 2")
                      div(class="carousel-caption")
                          h3 Lorem Ipsum
                          p Torem ipsum dolor sit amet, consectetur adipiscing elit.

                  div(class="item")
                      img(src="/images/slide3.png", alt="image 3")
                      div(class="carousel-caption")
                          h3 Lorem Ipsum
                          p Torem ipsum dolor sit amet, consectetur adipiscing elit.

                  div(class="item")
                      img(src="/images/slide4.png", alt="image 4")
                      div(class="carousel-caption")
                          h3 Lorem Ipsum
                          p Torem ipsum dolor sit amet, consectetur adipiscing elit.

                  //- Left and rigth controls
              a(class="left carousel-control", href="#myCarousel", role="button", data-slide="prev")
                  span(class="glyphicon glyphicon-chevron-left", aria-hidden="true")
                  span(class="sr-only") Previus
              a(class="right carousel-control", href="#myCarousel", role="button", data-slide="next")
                  span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                  span(class="sr-only") Next

        div(class="col-md-4")
          hr
          h4 Cursos
          form(action = '/course', method='get', id='course_form')
            select(class='selectpicker', data-live-search='true', name='course_select')
              each course in results
                option(data-tokens=course.name, value=course.id, name=course.id)= course.name
              else
                option(value='-1', disabled)= 'Nenhuma categoria foi cadastrada ate o momento'
            br
            input(type='submit', value = 'Mais informações', class='btn', style='margin-top: 10px;')
          
          hr
          h4 Acesso Rápido
          div(class="list-group")
            a(class='list-group-item', href="/register") Quero me cadastrar
            a(class='list-group-item', href="http://50.112.26.194:80/moodle/login/index.php") Já sou aluno/funcionário
            a(class='list-group-item', href='#') Administração
          hr
          
  //- About Section
  section(id="about" class="about-section")
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2")
          h1.title-font QUEM SOMOS?
          br
          h2.text-font Uma Instituição educacional e cultural, sem fins lucrativos, que valoriza, estimula, aprimora, integra, difunde e coloca em prática conhecimentos – formais e informais, culturais, artísticos, científicos, tecnológicos, de desenvolvimento e inovação – através de ações educativas, presenciais e a distância, que visam promover transformações sociais que possam favorecer o desenvolvimento humano, social e cultural de pessoas, grupos, comunidades e instituições. 
          
  //- Values Section
  section(id="values" class="values-section")
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2")
           h3.subtitle-font PRINCÍPIOS E VALORES
            br
            br
            h4.text-font Ética
            hr
            h4.text-font Busca pelo conhecimento
            hr
            h4.text-font Respeito à diferença
            hr
            h4.text-font Interdisciplinaridade
            hr
            h4.text-font Responsabilidade Social e ambiental
            hr
            h4.text-font Respeito a todas as formas de conhecimento
            br
            br
            br

  //- Services Section
  section(id="services" class="services-section")
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2")
          h1(style={'font-size': '55px', 'tab-size': 12 }) VENHA CONOSCO!
          br
          div(class="row")
            div(class="col-md-6")
              h2.subtitle-font Programas
              br
              h3.text-font Programa de Formação de Gestores Culturais Públicos Municipais (modalidade à distancia)
            div(class="col-md-6")
              h2.subtitle-font Cursos
              br
              h3.text-font Adesão ao Sistema Nacional de Cultura: Aspectos Jurídicos, Políticos e Práticos - 1ª edição – ano 2017

  //- Contact Section
  section(id="contact" class="contact-section")
    div(class="container")
      div(class="row")
        div(class="col-md-6")
          h2.subtitle-font CONTATO
        div(class="col-md-6", style='margin-top: 40px;')
          img(src="images/caras.PNG" alt="GUIGA")

  //- jQuery
  script(src="javascripts/jquery.js")

  //- Bootstrap Code JavaScript
  script(src="javascripts/bootstrap.min.js")

  //- Bootstrap select JavaScript
  script(src='/javascripts/bootstrap-select.min.js')

  //- Scrolling Nav JavaScript
  script(src="javascripts/jquery.easing.min.js")
  script(src="javascripts/scrolling-nav.js")