extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="container")
      div(class="navbar-header page-scroll")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand page-scroll" href="#page-top")
          img(src="images/banner_ictmg.png" alt="GUIGA" style="margin-top: -15px; margin-left: -50px; width: 150px;")
      
      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav")
          //- Hidden li included to remove active class from about link when scrolled up past about section
          li(class="hidden")
            a(class="page-scroll" href="#page-top")
          li
            a(class="page-scroll" href="#about") Quem Somos
          li
            a(class="page-scroll" href="#services") O que fazemos
          li
            a(class="page-scroll" href="#partners") Apoiadores
          li
            a(class="page-scroll" href="#contact") Contato
      //- /.navbar-collapse
    //- /.container
  
  //- Intro Section
  section(id="intro", class="intro-section")
    div(class="container")
      div(class="row margin-fix")
        div(class="col-md-8")
          //- Carousel
          div(id="myCarousel", class="carousel slide", data-ride="carousel")
              //- Indicators
              ol(class="carousel-indicators")
                  li(data-target="#myCarousel", data-slide-to="0", class="active")
                  li(data-target="#myCarousel", data-slide-to="1")
                  li(data-target="#myCarousel", data-slide-to="2")

              //- Wrapper for slides
              div(class="carousel-inner", role="listbox")
                  div(class="item active")
                      img(src="/images/slide1.jpg", alt ="image 1")
                      div(class="carousel-caption")
                          h3 GUIGA
                          p é uma organização comprometida com o fomento e difusão da cultura e da educação, por isso realiza e o apoia ações, projetos e programas nessas áreas.

                  div(class="item")
                      img(src="/images/slide2.jpg", alt="image 2")
                      div(class="carousel-caption")
                          p Formamos e capacitamos pessoas para o desenvolvimento do protagonismo, da responsabilidade e aprimoramento profissional, visando a busca de resultados efetivos.

                  div(class="item")
                      img(src="/images/slide3.jpg", alt="image 3")
                      div(class="carousel-caption")
                        p Disponibilizamos capacitações profissionalizantes de qualidade, à distância,  à preços acessíveis e com certificação.

                  //- Left and rigth controls
              a(class="left carousel-control", href="#myCarousel", role="button", data-slide="prev")
                  span(class="glyphicon glyphicon-chevron-left", aria-hidden="true")
                  span(class="sr-only") Previus
              a(class="right carousel-control", href="#myCarousel", role="button", data-slide="next")
                  span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                  span(class="sr-only") Next

        div(class="col-md-4")
          hr
          h4 Cursos
          form(action = '/course', method='get', id='course_form')
            select(class='selectpicker', data-live-search='true', name='course_select')
              each course in results
                option(data-tokens=course.name, value=course.id, name=course.id)= course.name
              else
                option(value='-1', disabled)= 'Nenhum curso foi cadastrado ate o momento'
            br
            input(type='submit', value = 'Mais informações', class='btn', style='margin-top: 10px;')
          
          hr
          h4 Atividades e Projetos
          form(action = '#', method='get', id='project_form')
            select(class='selectpicker', data-live-search='true', name='project_select')
              each course in results
                option(data-tokens=course.name, value=course.id, name=course.id)= course.name
              else
                option(value='-1', disabled)= 'Nenhum projeto foi cadastrado ate o momento'
            br
            input(type='submit', value = 'Mais informações', class='btn', style='margin-top: 10px;')
          hr
          h4 Acesso Rápido
          div(class="list-group")
            a(class='list-group-item', href="/register") Quero me cadastrar
            a(class='list-group-item', href="http://50.112.26.194:80/moodle/login/index.php") Já sou aluno/funcionário
            a(class='list-group-item', href='#') Administração
          hr
          
  //- About Section
  section(id="about" class="about-section")
    div(class="container")
      hr
      div(class='row')
        div(class='col-md-9')
          h2 Histórico
          p GUIGA - Instituto Conhecer e Transformar foi constituído em 20 de fevereiro de 2010, na cidade de Teixeiras/MG. Tem por inspiração a história de vida de Antônio Gregório Pereira, “sô” Guiga (1886-1961), um artista, artesão, educador, mestre escola, que partilhou seus conhecimentos entre vários discípulos daquela cidade e de cidades vizinhas, proporcionando transformações positivas à vida de muitas pessoas.
          hr
          div(class='row')
            div(class='col-md-4')
              img(src='/images/tradicao.jpg', alt='Tradição')
            div(class='col-md-8')
              p É também tributável à Guiga a inauguração de uma tradição musical em sua família. Transmitida oralmente, de geração em geração, a tradição hoje é centenária, um patrimônio cultural em Minas Gerais que está presente nos Bailes e Festas da Cultura Popular.
              br
              p Seguindo o exemplo de Mestre Guiga, que foi um grande promotor de cultura e educação, esta associação valoriza, estimula, aprimora, integra, difunde e coloca em prática conhecimentos culturais, artísticos, científicos, tecnológicos, de desenvolvimento e inovação - e ações visando transformações sociais que favoreçam o desenvolvimento humano, social e cultural de pessoas e comunidades.
        div(class='col-md-3')
          img(src='/images/guiga.jpg', alt='GUIGA')
      hr
          
  //- Services Section
  section(id="services" class="services-section")
    div(class="container")
      div(class="row")
        div(class='col-md-8')
          div(class='row')
            h3 Missão
            p Somos comprometidos com a realização e o apoio às ações, projetos e programas que valorizem a cultura e a educação. Formamos e capacitamos pessoas para o desenvolvimento do protagonismo, da responsabilidade e aprimoramento profissional, visando a busca de resultados efetivos.
          hr
          div(class='row')
            div(class='col-md-6')
              h3 O que fazemos?
              p Ajudamos pessoas, comunidades e instituições públicas e privadas em seu desenvolvimento cultural e na aquisição e aprimoramento de conhecimentos profissionais.
              h3 Visão de futuro
              p Estar entre as maiores instituições de qualidade em educação à distância no país. 
            div(class='col-md-6')
              img(src='/images/biblioteca.jpg')
        div(class='col-md-4')
          h3 Princípios e valores
          br
          p Ética
          hr
          p Busca pelo conhecimento
          hr
          p Respeito à diferença
          hr
          p Interdisciplinaridade
          hr
          p Responsabilidade social e ambiental
          hr
          p Respeito a todas as formas de conhecimento
            
          
  //- Partners Section
  section(id="partners" class="partners-section")
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2")
           h3.subtitle-font Nossos Apoiadores

  //- Contact Section
  section(id="contact" class="contact-section")
    div(class="container")
      div(class="row")
        div(class="col-md-6")
          h2.subtitle-font CONTATO
        div(class="col-md-6", style='margin-top: 40px;')
          img(src="images/caras.PNG" alt="GUIGA")

  //- jQuery
  script(src="javascripts/jquery.js")

  //- Bootstrap Code JavaScript
  script(src="javascripts/bootstrap.min.js")

  //- Bootstrap select JavaScript
  script(src='/javascripts/bootstrap-select.min.js')

  //- Scrolling Nav JavaScript
  script(src="javascripts/jquery.easing.min.js")
  script(src="javascripts/scrolling-nav.js")