extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="container")
      div(class="navbar-header page-scroll")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand page-scroll" href="#page-top")
          img(src="images/banner_ictmg.png" alt="ICTMG")
      
      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav")
          //- Hidden li included to remove active class from about link when scrolled up past about section
          li(class="hidden")
            a(class="page-scroll" href="#page-top")
          li
            a(class="page-scroll" href='/') Voltar ao Início
  section(id="register" class="register-section")              
    div(class='container')
        div(class='row')
            div(class='col-md-12 margin-fix')
                h2 NOVO CADASTRO
            if popup
                div(class='col-md-6')
                    div(class='alert alert-success alert-dismissable fade in')
                        a(href='#', class='close', data-dismiss='alert', aria-label='close') &times;
                        p Seu cadastro foi realizado com sucesso.
                meta(http-equiv="refresh", content="3;url=/")
        hr
        form(action='/register',method='POST')
            p Nome de usuário: 
                input(type='text', name='user_username', placeholder='Nome de usuário', maxlength='100', required)
            p E-mail: 
                input(type='text', name='user_email', placeholder='E-mail', maxlength='100', required)
            p Primeiro nome: 
                input(type='text', name='user_firstname', placeholder='Primeiro nome', maxlength='100', required)
            p Sobrenome: 
                input(type='text', name='user_lastname', placeholder='Sobrenome', maxlength='100', required)
            p CPF: 
                input(type='text', name='user_cpf', placeholder='CPF', maxlength='11', required)
            p Telefone: 
                input(type='text', name='user_phone', placeholder='Telefone', maxlength='11', required)
            p Rua:
                input(type='text', name='user_street', placeholder='Rua', maxlength='100', required)
            p Número da residência: 
                input(type='text', name='user_house_number', placeholder='Número', maxlength='100', required)
            p Cidade:  
                input(type='text', name='user_city', placeholder='Cidade', maxlength='100', required)
            p CEP: 
                input(type='text', name='user_cep', placeholder='CEP', maxlength='8', required)
            p Celular: 
                input(type='text', name='user_cellphone', placeholder='Celular', maxlength='11')
            p Web site: 
                input(type='text', name='user_webpage', placeholder='Web site', maxlength='100')
            p Skype: 
                input(type='text', name='user_skype', placeholder='Skype', maxlength='100')
            hr

            div(class='row')
                div(class='col-md-4')
                    input(type='submit', value='Adicionar usuario', class='btn')
                div(class='col-md-4')
                    input(type='reset', value='Limpar', class='btn')
                div(class='col-md-4')
                    a(href='/')
                        input(type='button', value='Voltar' class='btn')

    //- jQuery
    script(src="javascripts/jquery.js")

    //- Bootstrap Code JavaScript
    script(src="javascripts/bootstrap.min.js")