@font-face{
    font-family: 'Taz-semilight';
    src: url('./../font/TazWt04-SemiLight.otf');
}

@font-face{
    font-family: 'Taz-semibold';
    src: url('./../font/TazWt06-SemiBold.otf');
}

@font-face{
    font-family: 'Taz-regular';
    src: url()'./../font/TazWt05-Regular.otf';
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Taz-semilight';
    text-align: justify;
    font-size: 13pt;
}

.menu-header a{
    color: #fff;
}

.menu-header .col-md-2, h1, h2, h3, h4, h5, h6{
    font-family: 'Taz-semibold';
}

.panel-aside h1{
    text-align: center;
    margin-top: auto;
}

.footer img{
    margin-left: auto;
    margin-right: auto;
}

.footer-text{
    text-align: center;
    color: #1572b9;
    font-family: 'Taz-semibold';
    font-size: 13pt;
}

a, a:active{
    color: slategray;
    text-decoration: none;
}
a:hover, .dropdown-toggle:hover{
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}
p a:hover{
    text-decoration: none !important;
    color: slategray !important;
    opacity: .6 !important;
}
.nav a:hover, .container a:hover{
    color: slategray;
    opacity: .6;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: center;
}
.aboutMenu{
    background-color: #1572b9;
}
.contentMenu{
    background-color: #58585a;
}
.coursesMenu{
    background-color: #69be55;
}
.dropdown-toggle{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
}

.bs-searchbox input{
    background-color: #f0ad4e;
    border-bottom-color: #eea236;
}
.form-control:focus{
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
}
.dropdown-menu>li>a, .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
    color: #fff;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover, 
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
    color: rgba(0,0,0,.6);
    background-color: rgba(255,255,255,.6);
}

.form-content {
    text-align: left;
}

.form-content .label-form {
    font-size: 16px;
}

.thumbnail{
    margin-left: auto;
    margin-right: auto;
}

.soldOut{
    color: red;
    font-weight: bold;
}

.back-button{
    color: #000;
}

p{
    font-size: 15pt;
}

.about-section .col-md-8 h1{
    color: #1572b9;
}
.course-section .col-md-8 h1, .course-section .col-md-8 h3,
.course-section .col-md-3 p{
    color: #69be55;
}
.course-section .btn{
    background-color: #69be55;
    color: #fff;
}
.products-section .col-md-8 h1{
    color: #58585a;
}
.products-section .btn{
    background-color: #58585a;
    color: #fff;
}
.products-section .thumbnail{
    border: 1px solid #58585a;
}
.services-section .col-md-8 h1{
    color: #9fbbe2;
}
.donation-section .col-md-8 h1{
    color: #ec971f;
}
.donation-section .btn{
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Taz-semibold';
    font-size: 14pt;
}
.donation-section .btn5{
    background-color: #FBEAD2;
}
.donation-section .btn10{
    background-color: #F7D5A5;
}
.donation-section .btn20{
    background-color: #F3C079;
}
.donation-section .btn50{
    background-color: #EFAB4C;
}
.donation-section .btn100{
    background-color: #EB961F;
}
.donation-section .btn100mais{
    background-color: #c1760d;
}
.donation-section li a{
    color: #58585a;
}
.donation-section li a:hover{
    color: #000;
}
.contact-section li a{
    color: #58585a;
}
.contact-section li a:hover{
    color: #000;
}
.panel-aside{
    min-height: 450px;
}
.carousel-caption{
    background-color: rgba(0,0,0,.2);
}

/*MOBILE*/
@media only screen and (max-width: 599px){
    .page-header{
        margin: 0;
        border-bottom: none;
    }
    .page-header img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .page-header h3{
        font-size: 18px;
        text-align:center;
    }
    .navbar-nav{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin: 0 auto 0 auto !important;
    }
    .menu-header .dropdown, .menu-header .col-md-2{
        width: 100%;
        height: 30px;
    }
    .carousel-inner{
        height: 160px;
    }
    .carousel-caption{
        position: relative;
        right: 0; 
        bottom: 0; 
        left: 0; 
        z-index: 10;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 10em;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,.4);
    }
    .carousel-caption p{
        font-size: 13px
    }
    .carousel-indicators{
        bottom: 55px
    }
    #footer-bar ul{
        width: 63%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-text{
        font-size: 10pt;
    }
    .contact-section , .singin-section, .about-section,
    .course-section, .donation-section, .products-section,
    .services-section, .registration-section{
        margin: 0 30px;
    }
    .thumbnail-img{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .thumbnail h4, .thumbnail .soldOut,
    .modal-header h3, .modal-body p{
        font-size: 12pt;
    }
}
/*DESKTOP*/
@media only screen and (min-width: 600px){
    .page-header{
        margin-bottom: 0;
    }
    .page-header img{
    margin-top: -15px;
    }
    .page-header h3{
        font-family: 'Taz-semilight';
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 30px;
        border-left: 3px solid #1572b9;
    }
    .page-header ul{
        margin-top: -15px;
    }
    .panel{
        margin-bottom: 0;
    }
    .menu-header .col-md-2, h1, h2, h3, h4, h5, h6{
        height: 35px;
        padding-top: 7px;
    }
    #footer-bar{
        background-color: #58585a;
        height: 40px;
    }
    #footer-bar .row{
        margin-top: 3px;
    }
    .footer img{
        max-width: 40%;
    }
    .footer-text{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #event div h1{
        margin-top: 20px;
    }
    .dropdown-toggle{
        width: 100%;
    }
    #services{
        font-size: 16pt;
        margin-top: 30px;
    }
    .form-content {
        padding: 10px;
    }
    .form-content .label-form {
        width: 100%;
    }
    .form-content .input {
        width: 80%;
    }
    .footer-form {
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .col-md-6 .thumbnail{
        max-width: 50%;
    }
    .col-md-4 .thumbnail{
        max-width: 85%;
    }
    .thumbnail-img{
        width: 70%;
    }
    .carousel-caption{
        padding: 20px;
        border-radius: 100px;
    }
}