body {
    height: 100%;
    padding-top: 65px;
    text-align: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {

      font-family: "taz-bold";
      src: url("./public/font/taz-bold.otf") format("truetype");

      }
@font-face {

      font-family: "taz-semilight";
      src: url("./public/font/taz-semilight.otf") format("truetype");

      }
.margin-fix {
    margin-top: 50px;
}
.margin-fix2 {
    margin-top: -70px;
    margin-bottom: 20px;
}
.title-font{
     font-size: 55px;
}

.subtitle-font{
     font-size: 35px;
}

.text-font{
     font-size: 17px;
}

.alert{
    margin-top: 20px;
    margin-bottom: 0;
}
.img-fixed{
 width: 15%;
 padding: 5px;
 margin: 0px 10px 10px 0;
}
.font-white {
    color: #fff;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.col-md-3{
    margin-top: 5%;
}

section .container{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    margin-top: -40px;
}

#course_form .bootstrap-select, #course_form input, #project_form .bootstrap-select, #project_form input{
    width: 100%;
}

.margin-fix .col-md-8{
    margin-top: 25px;
}

.btn-sample { 
  color: #ffffff; 
  background-color: #5E5E5E; 
  border-color: #000000; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #3B3B3B; 
  border-color: #000000; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #5E5E5E; 
  border-color: #000000; 
} 
 
.btn-sample .badge { 
  color: #5E5E5E; 
  background-color: #ffffff; 
}

.btn-sample2 { 
  color: #ffffff; 
  background-color: #5E5E5E; 
  border-color: #5E5E5E; 
} 
 
.btn-sample2:hover, 
.btn-sample2:focus, 
.btn-sample2:active, 
.btn-sample2.active, 
.open .dropdown-toggle.btn-sample2 { 
  color: #ffffff; 
  background-color: #3B3B3B; 
  border-color: #000000; 
} 
 
.btn-sample2:active, 
.btn-sample2.active, 
.open .dropdown-toggle.btn-sample2 { 
  background-image: none; 
} 
 
.btn-sample2.disabled, 
.btn-sample2[disabled], 
fieldset[disabled] .btn-sample2, 
.btn-sample2.disabled:hover, 
.btn-sample2[disabled]:hover, 
fieldset[disabled] .btn-sample2:hover, 
.btn-sample2.disabled:focus, 
.btn-sample2[disabled]:focus, 
fieldset[disabled] .btn-sample2:focus, 
.btn-sample2.disabled:active, 
.btn-sample2[disabled]:active, 
fieldset[disabled] .btn-sample2:active, 
.btn-sample2.disabled.active, 
.btn-sample2[disabled].active, 
fieldset[disabled] .btn-sample2.active { 
  background-color: #5E5E5E; 
  border-color: #5E5E5E; 
} 
 
.btn-sample2 .badge { 
  color: #5E5E5E; 
  background-color: #ffffff; 
}