body {
    overflow-x: hidden;
}

@font-face {

      font-family: "taz-bold";
      src: url("./public/font/taz-bold.otf") format("truetype");

      }
@font-face {

      font-family: "taz-semilight";
      src: url("./public/font/taz-semilight.otf") format("truetype");

      }
.title-font{
     font-size: 55px;
}

.subtitle-font{
     font-size: 35px;
}

.text-font{
     font-size: 17px;
}

.alert{
    margin-top: 20px;
    margin-bottom: 0;
}
.img-fixed{
  width: 15%;
  padding: 5px;
  margin: 0px 10px 10px 0;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.col-md-3{
    margin-top: 5%;
}

section .container{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    margin-top: -40px;
}

#course_form .bootstrap-select, #course_form input, #project_form .bootstrap-select, #project_form input{
    width: 100%;
}

 a.btn-sample, input.btn-sample{ 
   color: darkgray; 
   background-color: #5E5E5E; 
   border-color: #5E5E5E;
 } 
  
 a.btn-sample:hover, 
 a.btn-sample:focus, 
 a.btn-sample:active, 
 a.btn-sample.active, 
 .open .dropdown-togglea.btn-sample,
 input.btn-sample:hover,
 input.btn-sample:focus, 
 input.btn-sample:active, 
 input.btn-sample.active{ 
   color: darkgray; 
   background-color: #3B3B3B; 
   border-color: #3B3B3B; 
 } 
  
 a.btn-sample:active, 
 a.btn-sample.active, 
 .open .dropdown-togglea.btn-sample,
 input.btn-sample:active, 
 input.btn-sample.active,{ 
   background-image: none; 
 } 
  
 a.btn-sample.disabled, 
 a.btn-sample[disabled], 
 fieldset[disabled] a.btn-sample, 
 a.btn-sample.disabled:hover, 
 a.btn-sample[disabled]:hover, 
 fieldset[disabled] a.btn-sample:hover, 
 a.btn-sample.disabled:focus, 
 a.btn-sample[disabled]:focus, 
 fieldset[disabled] a.btn-sample:focus, 
 a.btn-sample.disabled:active, 
 a.btn-sample[disabled]:active, 
 fieldset[disabled] a.btn-sample:active, 
 a.btn-sample.disabled.active, 
 a.btn-sample[disabled].active, 
 fieldset[disabled] a.btn-sample.active,
 
 
 input.btn-sample.disabled, 
 input.btn-sample[disabled], 
 fieldset[disabled] input.btn-sample, 
 input.btn-sample.disabled:hover, 
 input.btn-sample[disabled]:hover, 
 fieldset[disabled] input.btn-sample:hover, 
 input.btn-sample.disabled:focus, 
 input.btn-sample[disabled]:focus, 
 fieldset[disabled] input.btn-sample:focus, 
 input.btn-sample.disabled:active, 
 input.btn-sample[disabled]:active, 
 fieldset[disabled] input.btn-sample:active, 
 input.btn-sample.disabled.active, 
 input.btn-sample[disabled].active, 
 fieldset[disabled] input.btn-sample.active{ 
   background-color: #5E5E5E; 
   border-color: #5E5E5E; 
 } 
  
 a.btn-sample .badge,
 input.btn-sample .badge{ 
   color: darkgray; 
   background-color: darkgray; 
 }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   color: darkgray; 
   background-color: #3B3B3B; 
   border-color: #3B3B3B; 
}

.navbar-default .navbar-nav>li>a{
  color:darkgray;
}

.navbar-default{
  color: darkgray; 
  background-color: #5E5E5E; 
  border-color: #5E5E5E;
}


.bootstrap-select button{
  color: darkgray; 
  background-color: #5E5E5E; 
  border-color: #5E5E5E;
}

.bootstrap-select button:hover, 
.bootstrap-select button:focus,
.bootstrap-select button:active,
.bootstrap-select button:active:hover:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu.inner li a:hover{
   color: darkgray; 
   background-color: #3B3B3B; 
   border-color: #3B3B3B; 
 }

.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:active:focus:hover,
.dropdown-menu,
.bs-searchbox input{
  color: darkgray; 
  background-color: #5E5E5E; 
  border-color: #3B3B3B;
 }